@page "/r_client"
@inject ClientBLL ClientBLL

<EditForm Model="client">

    <div class="card">
    @* Cabeza *@
        <div class="card-header">
            <h1>Registro de clientes</h1>
        </div>

    @* Cuerpo del card *@
        <div class="card-body">
            @* Inicio de la fila *@
            <div class="row">
                @* Opcion izquierda *@
                <div class="col-md-6">
                    <label class="form-label">Nombre</label>
                    <InputText @bind-Value="client.Name" class="form-control"></InputText>
                </div>
                @* Opcion derecha *@
                <div class="col-md-6">
                    <label class="form-label">Fecha</label>
                    <InputDate @bind-Value="client.EntryDate" class="form-control"></InputDate>
                </div>
            </div>
            @* Fin de la fila *@
            <label>Email</label>
            <InputText @bind-Value="client.Email" class="form-control"></InputText>
            <label>Telefono</label>
            <InputText @bind-Value="client.Telephone" class="form-control"></InputText>
        </div>
    @* Footer o pie *@
        <div class="card-footer">
            <button type="button" class="btn btn-primary" @onclick="Clear"><span class="oi oi-plus"/> Nuevo</button>
            <button type="button" class="btn btn-success" @onclick="Save"><span class="oi oi-"/> Guardar</button>
            <button type="button" class="btn btn-danger" @onclick="Delete"><span class="oi oi-delete"/> Eliminar</button>
        </div>
    </div>

</EditForm>

@code
{
    public Client client { get; set; } = new Client();

    void Clear()
    {
        client = new Client();
    }

    void Save()
    {
        if(ClientBLL.Save(client))
        Clear();
    }

    void Delete()
    {
        if(ClientBLL.Delete(client))
        {
            Clear();
        }
    }
}