@page "/r_products"

<EditForm Model="products">
    <div class="card">
        <div class="card-header">
            <h1>Registro de Productos</h1>
        </div>

    </div>
    
</EditForm>

@code
{
    public Products products {get; set;} = new Products();
}

