@page "/r_products"
@inject ProductBLL ProductBLL


<EditForm Model="products">
    <div class="card">
        <div class="card-header">
            <h1>Registro de Productos</h1>
        </div>

        <div class="card-body">
            <div class="row">
                <label class="form-label">Id</label>
                <div>
                    <InputNumber @bind-Value="products.ProductId" class="form-control"></InputNumber>
                </div>
                <div class="col-md-5">
                    <label class="form-label">Nombre del producto</label>
                    <InputText @bind-Value="products.Name" class="form-control"></InputText>
                </div>

                <div class="col-md-5">
                    <label class="form-label">Precio</label>
                    <InputNumber @bind-Value="products.Price" class="form-control"></InputNumber>
                </div>
            
                <div class="col-md-5">
                    <label>Marca</label>
                    <InputText @bind-Value="products.Brand" class="form-control"></InputText>
                </div>

                <div class="col-md-5">
                    <label>Fecha de entrada</label>
                    <InputDate @bind-Value="products.EntryDate" class="form-control"></InputDate>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <button type="button" class="btn btn-primary" @onclick="Clear"><span class="oi oi-plus"/>  Nuevo</button>
            <button type="buttton" class="btn btn-success" @onclick="Save"><span class="oi oi-circle-check"/>  Guardar</button>
            <button type="buttton" class="btn btn-danger" @onclick="Delete"><span class="oi oi-delete"/>  Eliminar</button>
            <button type="butto" class="btn btn-dark" @onclick="Search"><span class="oi oi-magnifying-glass"/> Buscar</button>
        </div>



    </div>
    
</EditForm>

@code
{
    public Product products {get; set;} = new Product();


    void Clear()
    {
        products = new Product();
    }
    void Save()
    {
        if (ProductBLL.Save(products))
        Clear();
    }
    void Delete()
    {
        if(ProductBLL.Delete(products))
        {
            Clear();
        }
    }
    void Search()
    {
        var productFound = ProductBLL.Search(products.ProductId);
        if (productFound != null)
            {
                products = productFound;
            }
    }
}

